# Final

In [1]:
import pandas as pd

### input data

In [35]:
data = pd.read_csv('C:\\Users\\User\\Desktop\\final12652\\2019_nCoV_data.csv')
data

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0
...,...,...,...,...,...,...,...,...
1714,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1,0,0
1715,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1,0,0
1716,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1,0,0
1717,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1,0,1
1718,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1,0,0

### Data cleaning

In [36]:
data.isnull().any()

Sno               False
Date              False
Province/State     True
Country           False
Last Update       False
Confirmed         False
Deaths            False
Recovered         False
dtype: bool

In [37]:
data['Province/State']=data['Province/State'].fillna('error')
data

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0
...,...,...,...,...,...,...,...,...
1714,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1,0,0
1715,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1,0,0
1716,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1,0,0
1717,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1,0,1
1718,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1,0,0

In [38]:
data.isnull().any()

Sno               False
Date              False
Province/State    False
Country           False
Last Update       False
Confirmed         False
Deaths            False
Recovered         False
dtype: bool

In [39]:
datai=data

### set country as group

In [40]:
datai = data[data['Country']!='error']

In [41]:
datai

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0
...,...,...,...,...,...,...,...,...
1714,1715,02/17/2020 22:00:00,"Madison, WI",US,2020-02-05T21:53:02,1,0,0
1715,1716,02/17/2020 22:00:00,"Orange, CA",US,2020-02-01T19:53:03,1,0,0
1716,1717,02/17/2020 22:00:00,"San Antonio, TX",US,2020-02-13T18:53:02,1,0,0
1717,1718,02/17/2020 22:00:00,"Seattle, WA",US,2020-02-09T07:03:04,1,0,1
1718,1719,02/17/2020 22:00:00,"Tempe, AZ",US,2020-02-01T19:43:03,1,0,0

In [42]:
datacovidx = datai.groupby('Country').max().reset_index()
datacovidx

,Country,Sno,Date,Province/State,Last Update,Confirmed,Deaths,Recovered
0,Australia,1696,2/9/2020 23:20,error,9/2/2020 19:33,5,0,4
1,Belgium,1704,2/9/2020 23:20,error,4/2/2020 15:43,1,0,1
2,Brazil,83,01/23/2020 12:00:00,error,01/23/2020 12:00:00,0,0,0
3,Cambodia,1705,2/9/2020 23:20,error,31/1/2020 8:15,1,0,1
4,Canada,1706,2/9/2020 23:20,"Toronto, ON",7/2/2020 5:43,5,0,1
5,China,35,01/22/2020 12:00:00,Zhejiang,01/22/2020 12:00:00,444,0,0
6,Egypt,1707,02/17/2020 22:00:00,error,2020-02-14T23:53:02,1,0,0
7,Finland,1708,2/9/2020 23:20,error,31/1/2020 8:15,1,0,1
8,France,1685,2/9/2020 23:20,error,8/2/2020 9:53,12,1,4
9,Germany,1683,2/9/2020 23:20,error,9/2/2020 6:13,16,0,1
10,Hong Kong,1677,2/9/2020 23:20,Hong Kong,2020-02-17T22:53:01,60,1,2
11,India,1693,2/9/2020 23:20,error,3/2/2020 21:43,3,0,3
12,Italy,1694,2/9/2020 23:20,error,7/2/2020 17:53,3,0,0
13,Ivory Coast,264,01/27/2020 20:30:00,error,01/27/2020 20:30:00,0,0,0
14,Japan,1676,2/9/2020 23:20,error,9/2/2020 6:13,66,1,12
15,Macau,1686,2/9/2020 23:20,Macau,6/2/2020 14:23,10,0,5
16,Mainland China,1709,2/9/2020 23:20,Zhejiang,9/2/2020 8:53,59989,1789,7862
17,Malaysia,1680,2/9/2020 23:20,error,2020-02-15T23:43:02,22,0,7
18,Mexico,82,01/23/2020 12:00:00,error,01/23/2020 12:00:00,0,0,0
19,Nepal,1710,2/9/2020 23:20,error,31/1/2020 8:15,1,0,1
20,Others,1657,2/9/2020 23:20,Diamond Princess cruise ship,9/2/2020 6:13,454,0,0
21,Philippines,1695,2/9/2020 23:20,error,7/2/2020 16:43,3,1,1
22,Russia,1698,2/9/2020 23:20,error,31/1/2020 16:13,2,0,2
23,Singapore,1672,2/9/2020 23:20,error,2020-02-17T14:33:04,77,0,24
24,South Korea,1679,2/9/2020 23:20,error,2020-02-17T23:43:01,30,0,10
25,Spain,1699,2/9/2020 23:20,error,9/2/2020 20:33,2,0,2
26,Sri Lanka,1711,2/9/2020 23:20,error,8/2/2020 3:43,1,0,1
27,Sweden,1712,2/9/2020 23:20,error,2020-02-01T02:13:26,1,0,0
28,Taiwan,1681,2/9/2020 23:20,Taiwan,9/2/2020 9:13,22,1,2
29,Thailand,1678,2/9/2020 23:20,error,8/2/2020 12:53,35,0,15
30,UK,1687,2/9/2020 23:20,error,7/2/2020 18:33,9,0,8
31,US,1719,2/9/2020 23:20,Washington,9/2/2020 7:03,3,0,2
32,United Arab Emirates,1688,2/9/2020 23:20,error,8/2/2020 7:03,9,0,4
33,Vietnam,1684,2/9/2020 23:20,error,2020-02-13T06:33:02,16,0,7

In [43]:
import datetime

In [44]:
data2['Last Update'] = data2['Last Update'].datetime.strptime('%Y-%m-%d,%H:%M:%S')
data2['Last Update'].date.strftime(data2['Last Update'], "%m/%d/%y,%H:%M:%S")

NameError: name 'data2' is not defined

## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~